{{>header}}

<!--Page Header-->
<section class="page_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <h1>ProMaintenance</h1>
                <h3>Easy-to-use Work Order Management</h3>
            </div>
        </div>
    </div>
</section>
<!--Page Header-->

<!--SERVICE SECTION-->
<section id="shop" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 wow fadeInLeft" data-wow-delay="400ms">
                <div class="image">
                    <img src="/images/maintenance-2.jpg" alt="Maintenance Staff Making Repairs" class="img-responsive border-radius">
                    <div class="overlay border-radius text-center"></div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 shop_info wow fadeInRight" data-wow-delay="400ms">
                <h2 class="heading bottom25"><span>What is </span>ProMaintenance ?<span class="divider-left"></span></h2>
                <h4 class="price_product">ProMaintenance is software for managing work order workflows</h4>
                <p class="margin10">ProwareLabs developed ProMaintenance as a solution to help improve work order
                    workflow.</p>
                <p class="margin10">The easy to use application allows you to create and manage work orders and assign
                    them to your work crews. See changes in real-time through the live feed and see things move
                    forward as it happens.</p>
            </div>
        </div>
        <div class="row top25">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="300ms">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="heading bottom25">Key Benefits<span class="divider-left"></span></h3>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-responsive table-striped">
                                    <tbody>
                                    <tr>
                                        <td>Incredibly easy to use applications build with maintenance workflow in mind</td>
                                    </tr>
                                    <tr>
                                        <td>Easily assign work orders to your team</td>
                                    </tr>
                                    <tr>
                                        <td>Receive an on-site picture of the completed job</td>
                                    </tr>
                                    <tr>
                                        <td>Cloud based</td>
                                    </tr>
                                    <tr>
                                        <td>Quickly see which work orders are outstanding so nothing fall through the cracks</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-responsive table-striped">
                                    <tbody>
                                    <tr>
                                        <td>Mobile app for workers in the field</td>
                                    </tr>
                                    <tr>
                                        <td>A clear picture of the status of all work order progress</td>
                                    </tr>
                                    <tr>
                                        <td>Find what's going on through the activity feed</td>
                                    </tr>
                                    <tr>
                                        <td>Reduced paperwork</td>
                                    </tr>
                                    <tr>
                                        <td>Generate custom reports</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row top25">
            <div class="col-md-12 wow fadeInUp" data-wow-delay="300ms">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="heading bottom25">Need semi-custom solution?<span class="divider-left"></span></h3>
                        <p>Should you require a <strong>customization to ProMaintenance … we can do that!</strong> Do
                            you have a specific project with custom requirements … we can do that too! Our team of
                            expert programmers and designers would be happy to assist you with any customization.</p>
                        <a href="/contact-us?type=demo" class="border_radius btn_common red margin10">
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{>why-promaintenance}}

{{>footer}}
