{{>header}}

<!--Page Header-->
<section class="page_header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-content">
        <h1>ProPermits</h1>
        <h3>Permit Portal for Applicants</h3>
      </div>
    </div>
  </div>
</section>
<!--Page Header-->

<!--SERVICE SECTION-->
<section id="shop" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 wow fadeInLeft" data-wow-delay="400ms">
        <div class="image">
          <img src="/images/planning.jpg" alt="Blueprints" class="img-responsive border-radius">
          <div class="overlay border-radius text-center"></div>
        </div>
      </div>
      <div class="col-md-7 col-sm-7 shop_info wow fadeInRight" data-wow-delay="400ms">
        <h2 class="heading bottom25"><span>Why</span> ProPermits?<span class="divider-left"></span></h2>
        <h4 class="price_product">Applicant portal to apply for and manage building permits</h4>
        <p class="margin10">ProPermits was designed to meet the specific requirements of the municipal building
          department and their desire to streamline the application and communication process with applicants.</p>
        <p class="bottom25">The ProPermits portal allows applicants to apply for permits, see upcoming inspections and
          outstanding deficiencies, signal to the building department when deficiencies have been rectified, all through
          an easy to use web interface.</p>
      </div>
    </div>

    <div class="row top25">
      <div class="col-md-12 wow fadeInUp" data-wow-delay="300ms">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="heading bottom25">Key Benefits<span class="divider-left"></span></h3>
            <div class="row">
              <div class="col-md-6">
                <table class="table table-responsive table-striped">
                  <tbody>
                  <tr>
                    <td>Applicants can keep track of all permit applications, inspections, and deficiencies</td>
                  </tr>
                  <tr>
                    <td>Easy to use application</td>
                  </tr>
                  <tr>
                    <td>Integrates with ProOffice and ProInspector</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <table class="table table-responsive table-striped">
                  <tbody>
                  <tr>
                    <td>Improves communication between applicants and the building department</td>
                  </tr>
                  <tr>
                    <td>Integrates your GIS/GPS maps</td>
                  </tr>
                  <tr>
                    <td>Cloud based</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="heading bottom25">Process Visibility<span class="divider-left"></span></h3>
            <p>ProPermits provides a window into the permit process allowing municipal residents, builders, and
              contractors to see real time status of their permits.</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="heading bottom25">Permit Management<span class="divider-left"></span></h3>
            <p>ProPermits provides a simple and easy to use web portal to allow municipal stakeholders to digitally
              generate permits.</p>
            <p>It also provides enhanced communications tools to keep municipal clients on top of all permit workflow
              updates. It also serves up detailed status reports on all inspections and deficiencies in real time.</p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="heading bottom25">Cloud Based<span class="divider-left"></span></h3>
            <p>No need to install and maintain expensive servers. ProPermit and all of our services are cloud based.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{>why-proinspector}}
{{>request-demo-propermits}}
{{>testimonials}}

{{>footer}}
