
<!-- Footer -->
<footer class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 footer_panel bottom25">
                <h3 class="heading bottom25">About Us<span class="divider-left"></span></h3>
                <a href="/" class="footer_logo bottom25"><img src="/images/pwl-logo-white.png" alt="ProwareLabs"></a>
                <p>You Can Trust, Our Municipal Experience <br/>  Experts in Importing Legacy Data</p>
            </div>
            <div class="col-md-4 col-sm-4 footer_panel bottom25">
                <h3 class="heading bottom25">Quick Links<span class="divider-left"></span></h3>
                <ul class="links">
                    <li><a href="/contact-us?type=demo"><i class="icon-chevron-small-right"></i>Request a Demo</a></li>
                    <li><a href="/contact-us?type=contact"><i class="icon-chevron-small-right"></i>General Inquiries</a></li>
                    <li><a href="/contact-us?type=support"><i class="icon-chevron-small-right"></i>Support</a></li>
                    <li><a href="/about-us"><i class="icon-chevron-small-right"></i>About Us</a></li>
                    <li><a href="/documentation/ProwareLabs-Technical-Guide.pdf"><i class="icon-chevron-small-right"></i>Techinical Guide</a></li>
                    <li><a href="/documentation/ProwareLabs-Setup-Guide.pdf"><i class="icon-chevron-small-right"></i>Setup Guide</a></li>
                    <li><a href="https://secure.prowarelabs.com/"><i class="icon-chevron-small-right"></i>Client Login</a></li>
                    <li><a href="/terms-of-service"><i class="icon-chevron-small-right"></i>Terms of Service</a></li>
                    <li><a href="/privacy-policy"><i class="icon-chevron-small-right"></i>Privacy Policy</a></li>
                    <li><a href="/contact-us?type=contact"><i class="icon-chevron-small-right"></i>Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 footer_panel bottom25">
                <h3 class="heading bottom25">Keep in Touch <span class="divider-left"></span></h3>
                <p class=" address"><i class="icon-map-pin"></i>Ottawa, Ontario, Canada</p>
                <p class=" address"><i class="icon-envelope"></i><a href="/contact-us?type=contact">Contact Us</a></p>
                <p class=" address"><i class="icon-address-book"></i><a href="/contact-us?type=demo">Request a Demo</a></p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>Copyright &copy; <?= date('Y') ?> ProwareLabs Inc. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<!--/ Footer -->

{{>javascript}}

</body>
</html>
