<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>ProwareLabs | Simple is Beautiful</title>

<link rel="icon" href="images/pwl-favicon.png">

{{>css}}

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
<a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
<!--Loader-->
<div class="loader">
  <div class="spinner centered">
  <div class="spinner-container container1">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container2">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
</div>
</div>

<!--Header-->
<header>
  <nav class="navbar navbar-default navbar-fixed white no-background bootsnav pushy">
    <div class="container">
       <div id="menu_bars" class="right">
        <span class="t1"></span>
        <span class="t2"></span>
        <span class="t3"></span>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/"><img src="/images/pwl-logo-white.png" alt="logo" class="logo logo-display">
        <img src="/images/pwl-logo.png" class="logo logo-scrolled" alt="">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOut">

          <li><a href="/">Home</a></li>

          <li class="dropdown">
            <a href="/products/" class="dropdown-toggle" data-toggle="dropdown">Products</a>
            <ul class="dropdown-menu">
              <li><a href="/products/proinspector/">ProInspector</a></li>
              <li><a href="/products/promaintenance/">ProMaintenance</a></li>
              <li><a href="/products/prodevelopment/">ProDevelopment</a></li>
            </ul>
          </li>

          <li><a href="/services/">Services</a></li>

          {{!-- <li class="dropdown">
            <a href="/services/" class="dropdown-toggle" data-toggle="dropdown">Services</a>
            <ul class="dropdown-menu">
              <li><a href="/services/custom-reporting/">Custom Reporting</a></li>
              <li><a href="/services/custom-development/">Custom Development</a></li>
              <li><a href="/services/import-legacy-data/">Import Legacy Data</a></li>
            </ul>
          </li> --}}

          <li class="dropdown">
            <a href="/about/our-story/" class="dropdown-toggle" data-toggle="dropdown">About Us</a>
            <ul class="dropdown-menu">
              <li><a href="/about/our-team/">Our Team</a></li>
              <li><a href="/about/our-story/#our-story">Our Story</a></li>
            </ul>
          </li>

          <li><a href="/contact-us?type=contact">Contact Us</a></li>
          <li><a href="/contact-us?type=demo" class="btn_common white_border btn-ghost">Request a Demo</a></li>
        </ul>
      </div>
    </div>
    <div class="sidebar_menu">
        <nav class="pushmenu pushmenu-right">
            <a class="push-logo" href="/"><img src="/images/pwl-logo.png" alt="logo"></a>
              <ul class="push_nav centered">
                <li class="clearfix"><a href="/"> <span>&bull;</span> Home</a></li>
                <li><a href="/products/"> <span>&bull;</span> Products</a></li>
                <li><a href="/services/"> <span>&bull;</span> Services</a></li>
                <li><a href="/about/"> <span>&bull;</span> About Us</a></li>
                <li><a href="/contact-us?type=contact"> <span>&bull;</span> Contact Us</a></li>
                <li><a href="/contact-us?type=demo"> <span>&bull;</span> Request a Demo</a></li>
              </ul>
            <div class="clearfix"></div>
        </nav>
      </div>
  </nav>
</header>
