<!-- Our Products -->
<section id="about" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="heading"><span>Some of Our </span> Products <span class="divider-center"></span></h2>
            </div>
            <div class="icon_wrapclearfix">
                <div class="col-sm-4 icon_box text-center margin_tophalf wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-clipboard2"></i>
                    <h4 class="text-capitalize bottom20 margin10">
                      ProInspector
                    </h4>
                    <p class="no_bottom">
                      <strong>ProInspector</strong> was designed to meet the specific requirements of the municipal
                      building department and their obligatory reporting to province. ProInspector collects, organizes
                      and improves all building permit information while insuring data integrity.
                    </p>
                    <a href="/products/proinspector/" class="border_radius btn_common red margin10">Learn More</a>
                </div>
                <div class="col-sm-4 icon_box text-center margin_tophalf wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-hammer"></i>
                    <h4 class="text-capitalize bottom20 margin10">
                      ProMaintenance
                    </h4>
                    <p class="no_bottom">
                      <strong>ProMaintenance</strong> is simple desktop and mobile software to help organizations manage
                      jobs and employees as well as track performance. ProMaintenance lets you digitally track work
                      orders and communicate with work crews in the field.
                    </p>
                    <a href="/products/promaintenance/" class="border_radius btn_common red margin10">Learn More</a>
                </div>
                <div class="col-sm-4 icon_box text-center margin_tophalf wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-rocket3"></i>
                    <h4 class="text-capitalize bottom20 margin10">
                      ProDevelopment
                    </h4>
                    <p class="no_bottom">
                      <strong>ProDevelopment</strong> lets municipalities integrate and customize; databases,
                      informationand reporting to your specific needs. If you have integration issues or need help
                      uploading legacy data or have challenging reporting issues, we can help!
                    </p>
                    <a href="/products/prodevelopment/" class="border_radius btn_common red margin10">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Our Products -->
