<!-- Request Demo -->
<section id="request-demo">
    <div class="row">
        <div class="col-md-8 request-demo-left">
            <h2>See How Our ProInspector Can Work For You</h2>
        </div>
        <div class="col-md-4 request-demo-right">
            <a href="/contact-us?type=demo">
                <h2>Request a Demo <i class="fa fa-hand-o-up" aria-hidden="true"></i></h2>
            </a>
        </div>
    </div>
</section>
<!--/ Request Demo -->