<!-- Our Products -->
<section id="about" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="heading"><span>How Can We </span> Serve You <span class="divider-center"></span></h2>
            </div>
            <div class="icon_wrapclearfix">
                <div class="col-sm-4 icon_box text-center margin_tophalf wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-global"></i>
                    <h4 class="text-capitalize bottom20 margin10">
                      Custom Development
                    </h4>
                    <p class="no_bottom">
                      <strong>Need to customize or integrate municipal data?</strong> <br />
                      Proware has a decade of experience in custom development and integrating legacy data formats with new software implementations.
                    </p>
                    <a href="#" class="border_radius btn_common red margin10">Learn More</a>
                </div>
                <div class="col-sm-4 icon_box text-center margin_tophalf wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-laptop"></i>
                    <h4 class="text-capitalize bottom20 margin10">
                      Import Legacy Data
                    </h4>
                    <p class="no_bottom">
                      <strong>Are your files in many formats?</strong> <br />
                      Proware can import and integrate custom legacy data in many different structures from; excel, SQL and many other legacy formats.
                    </p>
                    <a href="#" class="border_radius btn_common red margin10">Learn More</a>
                </div>
                <div class="col-sm-4 icon_box text-center margin_tophalf wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-globe"></i>
                    <h4 class="text-capitalize bottom20 margin10">
                      Import from Other Applications
                    </h4>
                    <p class="no_bottom">
                      <strong>Access the inaccessible!</strong> <br />
                      Access any Municipal database connected to Proware to prepare annual assessments, report on assessments for property
                    </p>
                    <a href="#" class="border_radius btn_common red margin10">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Our Products -->