<!-- Testimonials -->
<section id="reviews" class="padding bg_light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow fadeInDown">
                <h2 class="heading heading_space"><span>Client</span> Testimonials <span class="divider-center"></span></h2>
                <div id="review_slider" class="owl-carousel text-center">
                    <div class="item">
                        <p class="review_text">It was incredibly easy to submit the reports ... for a guy like me this is pretty exciting!</p>
                        <h4>Jason Vezina, CBO</h4>
                        <p>Township of Edwardsburgh / Cardinal</p>
                    </div>
                    <div class="item">
                        <p class="review_text">[ProInspector] ... has definitely enhanced the permit process by reducing the data entry.</p>
                        <h4>Dan Tessier, Building Inspector</h4>
                        <p>Township of South Stormont</p>
                    </div>
                    <div class="item">
                        <p class="review_text">ProInspector has helped me develop reports that makes my council members happy.</p>
                        <h4>Randy Hopkins, CBO</h4>
                        <p>Township of Edwardsburgh / Cardinal</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Testimonials -->