<!-- Parallax -->
<section id="parallax" class="parallax parallax-promaintenance">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow bounceIn">
                <h1 class="bottom25 whitecolor">
                  How does it <strong>work</strong>?
                </h1>
                <ul class="bottom25">
                    <li>
                      ProMaintenance is both a desktop and mobile app. When a new work order is issued in the office,
                      employees in the field can use the mobile app to retrieve those work orders on the go.
                    </li>
                </ul>
                <a href="/contact-us?type=demo" class="border_radius btn_common white_border">Request a Demo</a>
            </div>
        </div>
    </div>
</section>
<!--/ Parallax -->
