<!-- Parallax -->
<section id="parallax" class="parallax parallax-inspiration">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow bounceIn">
                <h1 class="bottom25 whitecolor">
                  Do you have <strong>your own idea</strong>?
                </h1>
                <ul class="bottom25">
                    <li>
                      We would love to discuss your technology idea with you. Reach out to us to see if we're a good
                      fit!
                    </li>
                </ul>
                <a href="/contact-us?type=contact" class="border_radius btn_common white_border">Request a Meeting</a>
            </div>
        </div>
    </div>
</section>
<!--/ Parallax -->
