<!-- Parallax -->
<section id="parallax" class="parallax parallax-pi">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow bounceIn">
                <h1 class="bottom25 whitecolor">
                  Why <strong>Proware</strong>?
                </h1>
                <ul>
                    <li>
                      Designed to meet the specific requirements of the municipalities
                    </li>
                    <li>
                      Improve department workflows and process
                    </li>
                    <li>
                      Collect and organize all information in one place
                    </li>
                    <li>
                      Develop clear, accurate status reports for improved decision making and communication
                    </li>
                </ul>
                <p class="bottom25 whitecolor">Let us help you!</p>
                <a href="/contact-us?type=demo" class="border_radius btn_common white_border">Request a Demo</a>
            </div>
        </div>
    </div>
</section>
<!--/ Parallax -->