<!-- Parallax -->
<section id="parallax" class="parallax parallax-pi">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center wow bounceIn">
                <h1 class="bottom25 whitecolor">
                  Do you know <strong>what each member of your maintenance crew are working on right now</strong>?
                </h1>
                <ul class="bottom25">
                    <li>
                      ProMaintenance is a simple desktop and mobile software to help municipalities manage jobs and employees as well as track performance. 
                    </li>
                </ul>
                <a href="/contact-us?type=demo" class="border_radius btn_common white_border">Request a Demo</a>
            </div>
        </div>
    </div>
</section>
<!--/ Parallax -->