<!-- Our Products -->
<section id="about" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="heading"><span>Why Choose</span> ProOffice <span class="divider-center"></span></h2>
            </div>
            <div class="icon_wrapclearfix">
                <div class="col-sm-4 icon_box text-center margin_tophalf wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-global"></i>
                    <h4 class="text-capitalize bottom20 margin10">Easy-to-use</h4>
                    <p class="no_bottom">Making the change to ProOffice is nearly effortless and allows you to increase efficiency almost immediately.</p>
                </div>
                <div class="col-sm-4 icon_box text-center margin_tophalf wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-laptop"></i>
                    <h4 class="text-capitalize bottom20 margin10">Custom Reports</h4>
                    <p class="no_bottom">Besides built-in reports for MPAC, Tarion, Statistics Canada, and CMHC, you can also generate custom internal reports such as year end, council reports, or other reports you require.</p>
                </div>
                <div class="col-sm-4 icon_box text-center margin_tophalf wow fadeInUp" data-wow-delay="500ms">
                    <i class="icon-globe"></i>
                    <h4 class="text-capitalize bottom20 margin10">Import Legacy Data</h4>
                    <p class="no_bottom">Looking to make the change? We can import permits from other applications.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Our Products -->
