#request-demo .request-demo-left {
  color: white;
  background-color: #26ACDE;
  padding: 85px 30px;
  text-align: center;
}
#request-demo .request-demo-right {
  color: white;
  background-color: #3D4244;
  padding: 85px 30px;
  text-align: center;
}
#request-demo .request-demo-right .fa {
  margin-left: 10px;
}
#request-demo a:link,
#request-demo a:visited {
  color: white;
}
#request-demo a:focus,
#request-demo a:hover,
#request-demo a:active {
  color: white;
  text-decoration: underline;
}