{{>header}}

<!--Page Header-->
<section class="page_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <h1>About</h1>
                <h3>Proware Builds Software to Help Municipalities Serve Their Clients Better</h3>
            </div>
        </div>
    </div>
</section>
<!--Page Header-->

<section id="shop" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5 wow fadeInLeft" data-wow-delay="400ms">
        <div class="image">
          <img src="/images/proinspector.jpg" alt="Xwin" class="img-responsive border-radius">
          <div class="overlay border-radius text-center"></div>
        </div>
      </div>
      <div class="col-md-7 col-sm-7 shop_info wow fadeInRight" data-wow-delay="400ms">
        <h2 class="heading bottom25"><span>Inspiration!</span><span class="divider-left"></span></h2>
        <h4 class="price_product">There had to be a better way!</h4>
        <p class="margin10">Proware founder and CEO John Dagenais is the leader of a construction company and was
          chatting with a good friend and mayor of a local Ottawa municipality who voiced his frustration with the
          issues and delays surrounding municipal building permits. It was out of this conversation that the idea for
          Proware was born … there had to be a better way!</p>
      </div>
    </div>
    <div class="row top25">
      <div class="col-md-6 wow fadeInUp" data-wow-delay="300ms">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="heading bottom25">Our Team<span class="divider-left"></span></h3>
            <p>The Proware Labs team has decades of experience in custom development and integrating legacy data formats
              with new software implementations.</p>
            <a href="/about/our-team/" class="border_radius btn_common red margin10">
              Learn More
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 wow fadeInUp" data-wow-delay="300ms">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="heading bottom25">Our Story<span class="divider-left"></span></h3>
            <p>Proware products and modules were built from the ground up to help municipalities serve their clients
              better, enable smoother more efficient and transparent workflows for all stakeholders in municipal
              planning and development.</p>
            <a href="/about/our-story/" class="border_radius btn_common red margin10">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{>testimonials}}
{{>footer}}
