{{>header}}

<section class="page_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</section>

<section id="shop" class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 wow fadeInLeft" data-wow-delay="400ms">
                <div class="youtube-video-container">
                    <iframe src="https://www.youtube.com/embed/hI96NE1Xed0" allowfullscreen="" class="youtube-video" frameborder="0"></iframe>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 shop_info wow fadeInRight" data-wow-delay="400ms">
                <h3 class="heading bottom25">Simple & Beautiful<span class="divider-left"></span></h3>
                <p>Office applications that are used everyday should be pleasant and easy to use. That's why we take
                    great pride in creating simple and beautiful applications that we know you'll love.</p>
                <h3 class="heading bottom25">Democratic Software<span class="divider-left"></span></h3>
                <p>Applications are living concepts that change and evolve as needs change and evolve. To ensure that
                    we meet new demands, we employ a democratic process to ensure that your needs and special
                    requirements are met.</p>
                <h3 class="heading bottom25">Working with You<span class="divider-left"></span></h3>
                <p>ProwareLabs applications are built with municipal staff. We continuously work directly with
                    the end user to ensure our applications suit your needs.</p>
            </div>
        </div>
    </div>
</section>

{{>testimonials}}
{{>footer}}
