{{>header}}

<!--Page Header-->
<section class="page_header padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</section>
<!--/ Page Header-->

<!-- Contact -->
<section id="contact" class="padding">
    <div class="container">
        <div class="row padding-bottom">
            <div class="col-md-4 contact_address heading_space wow fadeInLeft" data-wow-delay="400ms">
                <h2 class="heading heading_space"><span>Get</span> in Touch <span class="divider-left"></span></h2>
                <p>Choose type of inquiry:</p>
                <div class="type-contact address">
                    <i class="icon icon-envelope border_radius"></i>
                    <h4>General Inquiry</h4>
                    <p>I have a question.</p>
                </div>
                <div class="type-demo address second">
                    <i class="icon icon-calendar border_radius"></i>
                    <h4>Request a Demo</h4>
                    <p>I would like to request a demo.</p>
                </div>
                <div class="type-support address">
                    <i class="icon icon-wrench border_radius"></i>
                    <h4>Technical Support</h4>
                    <p>I have a technical question.</p>
                </div>
            </div>
            <div class="col-md-8 wow fadeInRight" data-wow-delay="1400ms">
                <h2 class="heading heading_space"> <span>Contact</span> Form<span class="divider-left"></span></h2>
                <form class="form-inline findus" id="contact-form" name="contact-form" method="POST" data-netlify="true" netlify-honeypot="position">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="result"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <input
                                    id="name"
                                    name="name"
                                    type="text"
                                    placeholder="Name"
                                    class="form-control"
                                    required
                                />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <input
                                    id="email"
                                    name="email"
                                    type="email"
                                    placeholder="Email"
                                    class="form-control"
                                    required
                                />
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <input
                                    id="organization"
                                    name="organization"
                                    type="text"
                                    placeholder="Municipality / Organization"
                                    class="form-control"
                                    required
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="hidden" class="form-control" name="type" id="type">
                            <input type="hidden" name="position" id="position" />
                            <textarea placeholder="Message"  name="message" id="message"></textarea>
                            <button class="btn_common yellow border_radius" id="btn_submit">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                &nbsp; Send
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--/ Contact -->

{{>testimonials}}
{{>footer}}
