{{>header}}

<!--Page Header-->
<section class="page_header padding-top">
  <div class="container">
      <div class="row">
          <div class="col-md-12 page-content">
              <h1>Products</h1>
              <h3>Simple, Beautiful, and Easy to Master</h3>
          </div>
      </div>
  </div>
</section>
<!--/ Page Header-->

<!-- Products Section -->
<section id="shop" class="padding">
  <div class="container">
    <!-- ProInspector -->
    <div class="row">
      <div class="col-md-3 col-sm-3 wow fadeInLeft" data-wow-delay="400ms">
        <div class="image">
          <img src="/images/proinspector.jpg" alt="Two People looking at ProInspector mobile tablet" class="img-responsive border-radius">
          <div class="overlay border-radius text-center"></div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 shop_info wow fadeInRight" data-wow-delay="400ms">
        <h2 class="heading bottom25">ProInspector<span>: Building Department Software</span><span class="divider-left"></span></h2>
        <h4 class="price_product">Send your reports perfectly every time.</h4>
        <p class="margin10">ProInspector was designed to meet the specific requirements of the municipal building department and their obligatory reporting to province.</p>
        <p class="bottom25">Our ProInspector software advances the department efficiency for issuing and managing building permits, inspections, and reporting.
          ProInspector collects and organizes all building permit information providing clear status reports for improved decision making and communications
          to inspectors and the public.</p>
        <a href="/products/proinspector/" class="border_radius btn_common red margin10">Learn More</a>
      </div>
    </div>

    <hr class="margin_top">

    <!-- ProPermits -->
    <div class="row margin_top">
      <div class="col-md-3 col-sm-3 wow fadeInLeft" data-wow-delay="400ms">
        <div class="image">
          <img src="/images/planning.jpg" alt="Blueprints" class="img-responsive border-radius">
          <div class="overlay border-radius text-center"></div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 shop_info wow fadeInRight" data-wow-delay="400ms">
        <h2 class="heading bottom25">ProPermits<span>: Permit Portal for Applicants</span><span class="divider-left"></span></h2>
        <h4 class="price_product">Applicant portal to apply for and manage building permits</h4>
        <p class="margin10">ProPermit was designed to meet the specific requirements of the municipal building
          department and their desire to streamline the application and communication process with applicants.</p>
        <p class="bottom25">The ProPermit portal allows applicants to apply for permits, see upcoming inspections and
          outstanding deficiencies, signal to the building department when deficiencies have been rectified, all through
          an easy to use web interface.</p>
        <a href="/products/propermits/" class="border_radius btn_common red margin10">Learn More</a>
      </div>
    </div>

    <hr class="margin_top">

    <!-- ProMaintenance -->
    <div class="row margin_top">
      <div class="col-md-3 col-sm-3 wow fadeInLeft" data-wow-delay="400ms">
        <div class="image">
          <img src="/images/maintenance-2.jpg" alt="Maintenance Staff Making Repairs" class="img-responsive border-radius">
          <div class="overlay border-radius text-center"></div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 shop_info wow fadeInRight" data-wow-delay="400ms">
        <h2 class="heading bottom25">ProMaintenance<span>: Work Order Management fo Public Works</span><span class="divider-left"></span></h2>
        <h4 class="price_product">Workflow software for managing work orders</h4>
        <p class="margin10">ProwareLabs developed ProMaintenance as a solution to help improve work order
          workflow.</p>
        <p class="margin10">The easy to use application allows you to create and manage work orders and assign
          them to your work crews. See changes in real-time through the live feed and see things move
          forward as it happens.</p>
        <a href="/products/promaintenance/" class="border_radius btn_common red margin10">Learn More</a>
      </div>
    </div>

    <hr class="margin_top">

    <!-- ProDevelopment -->
    <div class="row margin_top">
      <div class="col-md-3 col-sm-3 wow fadeInLeft" data-wow-delay="400ms">
        <div class="image">
          <img src="/images/development.jpg" alt="Development" class="img-responsive border-radius">
          <div class="overlay border-radius text-center"></div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 shop_info wow fadeInRight" data-wow-delay="400ms">
        <h2 class="heading bottom25">ProDevelopment<span>: Modular Software & Customizable APIs</span><span class="divider-left"></span></h2>
        <h4 class="price_product">
          ProwareLabs development experience and ProDevelopment software modules a great combo!
        </h4>
        <p class="margin10 bottom25">ProDevelopment lets municipalities and other organizations leverage
          ProwareLabs' software modules to help integrate disparate municipal legacy systems. Think of
          ProDevelopment software modules as semi-custom building blocks that help speed up software
          development and municipal systems integration.</p>
        <p class="margin10 bottom25">The ProDevelopment APIs can be customized to integrate; databases,
          information and reporting to your specific needs. If you have integration issues or need help
          uploading legacy data or have challenging reporting issues, we can help!</p>
        <a href="/products/prodevelopment/" class="border_radius btn_common red margin10">Learn More</a>
      </div>
    </div>

    <hr class="margin_top">
  </div>
</section>

{{>request-demo-proinspector}}
{{>why-proware}}
{{>footer}}
