{{>header}}

<!--Page Header-->
<section class="page_header padding-top">
  <div class="container">
      <div class="row">
          <div class="col-md-12 page-content">
              <h1>Services</h1>
              <h3>Experts in Custom Development & Importing Legacy Data</h3>
          </div>
      </div>
  </div>
</section>
<!--/ Page Header-->

<!--SERVICE SECTION-->
<section id="shop" class="padding">
  <div class="container">
      <div class="row">
          <div class="col-sm-5 wow fadeInLeft" data-wow-delay="400ms">
              <div class="image">
                  <img src="/images/experience-2.jpg" alt="Experience" class="img-responsive border-radius">
                  <div class="overlay border-radius text-center"></div>
              </div>
          </div>
          <div class="col-sm-7 shop_info wow fadeInRight" data-wow-delay="400ms">
              <h2 class="heading bottom25">
                <span>A Decade Plus of </span> Experience<span class="divider-left"></span>
              </h2>
              <h4 class="price_product">
                  Custom Development & Experts in Importing Legacy Data
              </h4>
              <p class="margin10 bottom25">
                  Proware products have become adopted by many Ontario municipalities delivering more value than just
                  permit workflows. As Proware products evolved adding; advance reporting capabilities, workflow
                  integrity features and our experience customizing and integrating municipal databases continued to
                  improve. The Proware team has developed a high level of expertise and experience in creating custom
                  reports, converting and uploading legacy data to new systems.
              </p>
          </div>
      </div>
  </div>
</section>

{{>request-good-fit}}

{{>serve-you}}

{{>footer}}
