{{>header}}

<!--Page Header-->
<section class="page_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-content">
                <h1>About</h1>
                <h3>Proware Builds Software to Help Municipalities and Private Organizations Serve Their Clients Better</h3>
            </div>
        </div>
    </div>
</section>
<!--Page Header-->

<section id="shop" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 wow fadeInLeft" data-wow-delay="400ms">
        <div class="image">
          <img src="/images/proinspector.jpg" alt="Xwin" class="img-responsive border-radius">
          <div class="overlay border-radius text-center"></div>
        </div>
      </div>
      <div class="col-sm-7 shop_info wow fadeInRight" data-wow-delay="400ms">
        <h2 class="heading bottom25"><span>Our</span> Story<span class="divider-left"></span></h2>
        <p class="margin10">Proware was designed and built from the ground up to help municipalities serve their clients
          better. Proware products: ProInspector and ProMaintenance enable smoother more efficient and transparent
          permit workflows for all stakeholders in municipal planning and development. The Proware solutions provided a
          valuable tool to help municipal employees improve their service levels and responsiveness to their customers
          (building and construction companies).</p>
        <p class="margin10">As the product grew and evolved, it was adopted by many Ontario municipalities and has
          proven to provide value to more than just permit workflows. The ability to improve permit workflows and
          therefore tax assessments also had the impact of improving cash flow for city administrators and finance
          departments. Proware provides value to CAOs and helps improve receivable time by enabling more efficient
          and permit flow and reducing the number of errors. Improved permit workflow and fee collection improve cash
          flow for municipalities.</p>
        <p class="margin10">After ten years in business Proware continues to deliver value to all stakeholders in the
          planning development and building community. We are committed to enabling municipalities to improve and
          digitize their works flows which enables them to provide a higher level of service to their clients. Our team
          is growing and we are excited about providing simple, beautiful software to even more municipal clients in the
          coming years.</p>
      </div>
    </div>
  </div>
</section>

{{>why-inspiration}}
{{>testimonials}}
{{>footer}}
