.parallax.parallax-dark {
  background: rgba(0, 0, 0, 0.5);
}
#parallax {
  li {
    margin-top: 8px;
  }
  p {
    margin-top: 24px;
  }
  &.parallax-pi {
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ), url(../images/parallax2.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    padding: 100px 50px;
  }
  &.parallax-proware {
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ), url(../images/construction.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    padding: 100px 50px;
  }
  &.parallax-promaintenance {
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ), url(../images/maintenance.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    padding: 100px 50px;
  }
  &.parallax-development {
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ), url(../images/development-2.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    padding: 100px 50px;
  }
  &.parallax-inspiration {
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ), url(../images/motivation-2.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    background-position: center center;
    padding: 100px 50px;
  }
}
