.content-page {
  margin-top: 35px;
  margin-bottom: 55px;

  h2 {
    margin-top: 35px;
  }
  ul {
    margin-top: 15px;

    li {
      margin-left: 15px;
      margin-top: 8px;
    }
  }
  p {
    color: #0f0f0f;
    font-size: 1em;
    margin-top: 25px;
  }
}
body {
  p {
    font-size: 1.05em;
    line-height: 1.425;
  }
}
